django==1.7.10
mysql-python
git+git://github.com/edoburu/django-fluent-pages.git

django-fluent-contents==1.0.2
django-twitter-bootstrap==3.1.1
django-pipeline==1.3.23
django_compressor==1.4
django-any-urlfield
django-any-imagefield
django-filebrowser-no-grappelli
django-polymorphic==0.7.2

# Search
django-haystack==2.4.1
pyelasticsearch==1.4
elasticsearch==1.9.0

# Dependence
git+git://github.com/bradleyayers/django-ace.git
git+git://github.com/Excentrics/beautiful-fields.git
git+git://github.com/disqus/django-bitfield.git
git+git://github.com/sergey-romanov/django-form-designer.git
git+git://github.com/sergey-romanov/django-mptt-admin.git
git+git://github.com/SmartTeleMax/chakert.git

# main package
git+git://github.com/Excentrics/publication-backbone.git

